@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.header {
  padding: 1rem;
  height: 50px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
  @media(max-width:850px) {
    height: 75px;
  }
  .bars {
    position: absolute;

    right: 15px;
    top: 15px;
    display: none;

    @media(max-width:850px) {
      display: block;
    }
  }

  .xBars {
    position: absolute;

    right: 15px;
    top: 15px;
    font-weight: bold;
  }

  .nav {
    ul {
      display: flex;
      justify-content: center;

      li {
        margin: 0 25px;
        .contacto-a{
          background-color: #6793B7;
          color: rgb(255, 255, 255);
          padding: 8px;
          border-radius: 25px;

          &:hover::before {
            width: 0;
          }
        }
        a {
          font-size: 18px;
          position: relative;
          text-decoration: none;
          color: #6793B7;
          font-weight: 600;

          &::before {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 50%;
            border-radius: 2px;
            transform: translateX(-50%);
            width: 0;
            height: 3px;
            background-color: #6793B7;
            transition: width 0.3s ease;
          }

          &:hover::before {
            width: 100%;
          }
        }
      }
    }

    @media(max-width:850px) {
      ul {
        height: 0;
        overflow-y: hidden;
        position: absolute;
        top: 74px;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 24px;
        background-color: white;
        width: 100%;
        left: 0;
        z-index: 2;
        align-items: center;
        transition: 0.5s;
      }
    }
  }

  .nav-abierto {
    ul {
      height: 200px;

    }
  }
}

/*.whatsapp {
  svg {
    font-size: 40px;
    background-color: rgb(0, 197, 0);
    color: white;
    padding: 15px;
    border-radius: 100%;
    position: fixed;
    bottom: 35px;
    left: 35px;
  }
}
*/

.main .presentacion {
  display: flex;
  background-color: #DDF0FF;
  justify-content: center;
  align-items: center;
  background-image: url('../public/images/fondo.png');
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-attachment:local;
  background-position: -400px 90px;
}

.first-container {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media(max-width:850px) {
    flex-direction: column-reverse;
  }
}

.context-info {
  max-height: 100%;
  padding-bottom: 20px;
  height: 100%;
  overflow-y: hidden;

  h2 {
    &:first-of-type {
      font-family: "League Spartan", sans-serif;
      font-size: 100px;
      font-optical-sizing: none;
      font-weight: 700;
      color: #6793B7;
      letter-spacing: -5px;

      @media(max-width:1400px) {
        font-size: 70px;
      }

      @media(max-width:1200px) {
        font-size: 55px;
      }
    }
  }

  margin-right: 40px;
  text-align: center;
  font-size: 28px;

  h2,h5 {
    font-size: 16px;
    letter-spacing: 6px;
    margin: 30px 0;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    margin: 30px 0;
  }
  @media(max-width:1280px) {
    h2,h5{
      font-weight: 500;
    }
  }
  .contacto-perso {
    margin-top: 40px;
    z-index: 0;
    font-weight: bold;
    font-size: 44px;
    text-align: center;
    padding: 10px 70px;
    letter-spacing: -3px;
    color: white;
    border-radius: 40px;
    border: 2px solid white;
    background-color: #6793B7;
    ;
  }

  @media(max-width:850px) {
    margin-right: 0;

    h5 {
      margin-bottom: 20px;
    }
  }
}

.context-image img {
  object-fit: cover;
  width: 500px;
  height: 500px;

  @media(max-width:850px) {
    width: 500px;
    height: 500px;
  }
}

.title-sep-a {
  padding-bottom: 30px;
  padding-top: 30px;
}

.title-sep-b {
  padding-bottom: 30px;
  padding-top: 30px;
  padding: 50px;
}

.formacion-academica {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .formacion-psiquiatria {
    font-size: 22px;
    h2 {
      font-family: 'League Spartan',sans-serif;
      color: #6793B7;
      font-size: 40px;
      letter-spacing: -2px;
      font-weight: 800;
    }
    ul{
      width: 100%;
      max-width: 455px;
      li{
        font-family: 'Quicksand',sans-serif;
        list-style:inside;
        list-style-position: outside;
      }
    }
    margin-bottom: 50px;
  }

  .formacion-medica {
    h4 {
        font-family: 'League Spartan',sans-serif;
        color: #6793B7;
        font-size: 40px;
        letter-spacing: -2px;
        font-weight: 800;
    }

    ul {

      li {
        font-family: 'Quicksand',sans-serif;
        font-size: 22px;
        margin-bottom: 15px;
        list-style:inside;
      }
    }
  }
}

.sep::before,
.sep::after {
  content: '';
  position: absolute;
  max-width: 500px;
  width: 100%;
  height: 3px;
  background-color: #00152b;
  top: 1em;
}

.sep {
  position: relative;
  width: 100%;
  background-color: #00152b;
  color: white;
  font-style: italic;
  max-width: 400px;
  border-radius: 30px;
  padding: 10px;
  font-size: 36px;
  margin: 0 auto;
}

.sep::after {
  right: -390px;
}

.sep::before {
  left: -390px;
}

@media(max-width:650px) {
  .sep::before {
    left: -300px;
  }

  .sep::after {
    right: -300px;
  }
}

@media(max-width:400px) {
  .sep::before {
    left: -250px;
  }

  .sep::after {
    right: -250px;
  }
}

@media(max-width:350px) {
  .sep::before {
    left: -225px;
  }

  .sep::after {
    right: -225px;
  }
}

.title-sep {
  padding: 50px;
}

.cursos {
  width: 80%;
  max-width: 800px;
  border-radius: 20px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #6793B7;
  font-weight: 600;
  margin: 30px auto;
  max-height: 40px;
  cursor: pointer;
  padding-left: 5px;
  overflow-y: hidden;
  transition: max-height 0.3s;
}
.cursos-abiertos {
  max-height: 2500px;
}

.formaciones-especificas {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 800px;
  .cursos {
    width: 300px;
    div {
      ul {
        li {
          color: black;
          list-style:inside;
          margin: 10px 0 0 0;
        }
      }
    }
  }
}

.tratamientos-especificos-color{
  background-color: #DDF0FF;
  padding-top: 30px;
  padding-bottom: 20px;
  background-image: url('../public/images/fondo.png');
  background-repeat: no-repeat;
  background-attachment:local;
  background-position: -500px -100px;

  h2{
      font-size: 60px;
      color: #6793B7;
      font-weight: 800;
      text-align: center;
      margin-bottom: 50px;
      font-family: 'League Spartan',sans-serif;
      letter-spacing: -2px;
      @media(max-width:430px){
        font-size: 50px;
      }
  }
}
.tratamientos-especificos {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 800px;

}
.reversa{
  background-image: url('../public/images/fondo-reversa.png');
  background-repeat: no-repeat;
  background-attachment:local;
  background-position: 1100px -50px;
}

.tratamientos-especificos .tratamiento {
  width: 90%;
  max-width: 300px;
  margin: 10px auto;
  max-height: 30px;
  overflow-y: hidden;
  padding-left: 5px;
  transition: max-height 0.3s;

  ul {
    li {
      color: black;
      list-style:inside;
      margin: 10px 0 0 0;
    }
  }
}

.first-man {
  display: inline;
  transition: .2s
}

.check {
  transform: rotate(180deg);
}

.seccion-de-contacto {
  display: flex;
  padding: 10px 0 50px 0;
  background-image: url('../public/images/fondo.png');
  background-repeat: no-repeat;
  background-attachment:local;
  background-position: -460px -100px;
  background-color: #DDF0FF;
  width: 100%;
  flex-direction: column;
  h2{
    text-align: center;
    font-size: 60px;
    color: #6793B7;
    letter-spacing: -3px;
    margin: 30px 0;
    font-family: 'League Spartan',sans-serif;
    font-weight: 800;
  }
}

.contacto-whatsapp div {
  display: flex;
  background-color:#6793B7;
  border-radius: 70px;
  position: relative;
  justify-content: center;
  margin: 0 auto;
  max-width: 400px;
  font-size: 34px;
  color: white;
}

.contacto-whatsapp div a {
  width: 100%;
  text-align: center;
  width: 100%;
  font-weight: bolder;
  padding: 5px;
  margin-right: 35px;
}

.contacto-whatsapp div svg {
  font-size: 60px;
  position: absolute;
  right: 25px;
  top: 25px;
  margin: auto 0;
}

.mapa {
  width: 100%;
  text-align: center;

  iframe {
    max-width: 842px;
    margin: 0 auto;
    width: 90%;
    height: 400px;
  }
}
.linkedin{
  margin-top: 20px;
}
.formaciones-grid{
  padding-top: 100px;
  background-position: 900px -50px;
  background-repeat: no-repeat;
  background-color: #DDF0FF;
  display: grid;
  background-image: url('../public/images/fondo-reversa.png');
  grid-template-columns: 1fr
}

.mapa{
  width: 100%;
  color: #6793B7;
  background-color: #DDF0FF;
  background-image: url('../public/images/fondo-reversa.png');
  background-position: 900px -50px;
  background-repeat: no-repeat;
  padding: 10px;
  margin: 0 auto;
  p{
    color: black;
    font-weight: bold;
    margin-bottom: 30px;
  }
  h2{
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -3px;
    font-family: 'League Spartan',sans-serif;
  }
  iframe{
    border: 5px solid white;
    border-radius: 10px;
  }
}

.footer{
  text-align: center;
  color: #6793B7;
  padding: 10px;
  h2{
    position: relative;
    padding-bottom: 4px;
    text-decoration: underline;
    color: #6793B7;
    font-weight: 600;
  }
}