@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: black;
  color: white;
  padding: 1rem;
  height: 50px;

  @media(max-width:850px) {
    height: 75px;
  }

  .bars {
    position: absolute;

    right: 15px;
    top: 15px;
    display: none;

    @media(max-width:850px) {
      display: block;
    }
  }

  .xBars {
    position: absolute;

    right: 15px;
    top: 15px;
    font-weight: bold;
  }

  .nav {
    ul {
      display: flex;
      justify-content: center;

      li {
        margin: 0 25px;

        a {
          font-size: 18px;
          position: relative;
          text-decoration: none;
          color: whitesmoke;

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 2px;
            background-color: #ffffff;
            transition: width 0.3s ease;
          }

          &:hover::before {
            width: 100%;
          }
        }
      }
    }

    @media(max-width:850px) {
      ul {
        height: 0;
        overflow-y: hidden;
        position: absolute;
        top: 74px;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 24px;
        background-color: rgb(0, 0, 0);
        width: 100%;
        left: 0;
        z-index: 2;
        align-items: center;
        transition: 0.5s;
      }
    }
  }

  .nav-abierto {
    ul {
      height: 160px;

    }
  }
}

/*.whatsapp {
  svg {
    font-size: 40px;
    background-color: rgb(0, 197, 0);
    color: white;
    padding: 15px;
    border-radius: 100%;
    position: fixed;
    bottom: 35px;
    left: 35px;
  }
}
*/

.main .presentacion {
  display: flex;
  background-color: #7392B7;
  justify-content: center;
  align-items: center;
}

.first-container {
  margin-top: 30px;
  /*background-color: rgba(128,128,128,0.2);*/
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media(max-width:850px) {
    flex-direction: column-reverse;
  }
}

.context-info {
  max-height: 100%;
  padding-bottom: 20px;
  height: 100%;
  overflow-y: hidden;

  h2 {
    &:first-of-type {
      font-size: 90px;
      color: rgb(0, 0, 0);
      font-weight: bold;

      @media(max-width:1400px) {
        font-size: 70px;
      }

      @media(max-width:1200px) {
        font-size: 55px;
      }
    }
  }

  margin-right: 40px;
  text-align: center;
  font-size: 28px;

  h2 {
    margin: 5px 0;
  }

  h5 {
    margin-bottom: 30px;
  }

  .contacto-perso {
    margin-top: 40px;
    z-index: 0;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 10px 70px;
    color: white;
    border-radius: 40px;
    border: 2px solid white;
    background-color: rgb(0, 0, 0);
    ;
  }

  @media(max-width:850px) {
    margin-right: 0;

    h5 {
      margin-bottom: 20px;
    }
  }
}

.context-image img {
  width: 500px;
  object-fit: cover;
  @media(max-width:850px){
    width: 300px;
    height: 300px;
  }
}
.title-sep-a{
  padding-bottom: 30px;
  padding-top: 30px;
  background: linear-gradient(#7392B7, #7392B7);
}
.title-sep-b{
  padding-bottom: 30px;
  padding-top: 30px;
  background: linear-gradient(rgb(225,227,229), rgb(225,227,229));
  padding: 50px;
}
.formacion-academica {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(#7392B7, rgb(133, 168, 190));

  .formacion-psiquiatria {
    font-size: 22px;

    h2 {
      -webkit-text-fill-color: black;
      -webkit-text-stroke: .9px white;
      font-size: 36px;
      font-weight: bold;
      font-style: italic;
    }

    margin-bottom: 20px;
  }

  .formacion-medica {
    h4 {
      font-size: 36px;
      font-style: italic;
      -webkit-text-fill-color: black;
      -webkit-text-stroke: .9px white;
      font-weight: bold;
    }

    ul {
      li {
        font-size: 22px;
      }
    }
  }
}

.sep::before,
.sep::after {
  content: '';
  position: absolute;
  max-width: 500px;
  width: 100%;
  height: 3px;
  background-color: #00152b;
  top: 1em;
}

.sep {
  position: relative;
  width: 100%;
  background-color: #00152b;
  color: white;
  font-style: italic;
  max-width: 400px;
  border-radius: 30px;
  padding: 10px;
  font-size: 36px;
  margin: 0 auto;
}

.sep::after {
  right: -390px;
}

.sep::before {
  left: -390px;
}

@media(max-width:650px) {
  .sep::before {
    left: -300px;
  }
  .sep::after{
    right: -300px;
  }
}
@media(max-width:400px){
  .sep::before{
    left:-250px;
  }
  .sep::after{
    right: -250px;
  }
}
@media(max-width:350px){
  .sep::before{
    left:-225px;
  }
  .sep::after{
    right: -225px;
  }
}
.title-sep {
  padding: 50px;
  background: linear-gradient(rgb(163, 188, 204), rgb(214, 221, 226));
}

.cursos {
  width: 80%;
  max-width: 800px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px auto;
  max-height: 30px;
  cursor: pointer;
  padding-left: 5px;
  overflow-y: hidden;
  transition: max-height 0.3s;
}

.derecha {
  box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(0, 0, 0, 0.3) 10px 10px, rgba(0, 0, 0, 0.2) 15px 15px, rgba(0, 0, 0, 0.1) 20px 20px, rgba(0, 0, 0, 0.05) 25px 25px;

  @media(max-width:600px) {
    box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px, rgba(0, 0, 0, 0.2) -15px 15px, rgba(0, 0, 0, 0.1) -20px 20px, rgba(0, 0, 0, 0.05) -25px 25px;
  }
}

.izquierda {
  box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px, rgba(0, 0, 0, 0.2) -15px 15px, rgba(0, 0, 0, 0.1) -20px 20px, rgba(0, 0, 0, 0.05) -25px 25px;
}

.cursos-abiertos {
  max-height: 1300px;
}

.formaciones-especificas-color {
  background: linear-gradient(rgb(133, 168, 190), rgb(163, 188, 204));
}

.formaciones-especificas {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 800px;

  .cursos {
    width: 300px;

    div {
      ul {
        li {
          margin: 10px 0 0 0;
        }
      }
    }
  }
}



.tratamientos-especificos-color {
  background: linear-gradient(rgb(214, 221, 226), rgb(225,227,229) );


}

.tratamientos-especificos {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 800px;
}

.tratamientos-especificos .tratamiento {
  width: 90%;
  max-width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px auto;
  max-height: 30px;
  overflow-y: hidden;
  padding-left: 5px;
  transition: max-height 0.3s;

  ul {
    li {
      margin: 5px 0;
    }
  }
}

.first-man {
  display: inline;
  transition: .2s;
}

.check {
  transform: rotate(180deg);
}

.seccion-de-contacto {
  display: flex;
  background: linear-gradient(rgb(225,227,229), rgb(255,255,255) );
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.contacto-whatsapp div {
  display: flex;
  background-color: rgb(0, 172, 0);
  border-radius: 15px;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  font-size: 34px;
  color: white;
}

.contacto-whatsapp div a {
  width: 100%;
  text-align: center;
  padding: 25px;
  margin: 0;
}

.contacto-whatsapp div svg {
  font-size: 38px;
  margin-left: 15px;
}

.mapa {
  max-width: 900px;
  width: 100%;
  text-align: center;

  h2 {
    font-size: 35px;
  }

  iframe {
    margin: 0 auto;
    width: 90%;
    height: 500px;
  }
}